<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {%- if page_info.title=="index" -%}
        {%- set title=system_config.Project_Name -%}
        {% set description=system_config.Project_Description %}
    {%- else -%}
        {%- set title=page_info.title -%}
        {%- set description=page_info.excerpt -%}
    {%- endif -%}
    
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width">

    <link href="/static/solar/css/style.css" rel="stylesheet">
    {% set color = "light" %}
    {% if template_config.Dark %}
        {% set color = "dark" %}
    {% endif %}
    <link href="/static/solar/css/colors-{{ color }}.css" rel="stylesheet">
    {% include "include/head.html" ignore missing %}
</head>

<body class="home-template">

<header id="header">
    <h1><a href="/"><i class="icon-sun"></i> {{ system_config.Project_Name }}</a></h1>
    <p>{{ system_config.Project_Description }}</p>
</header>
