<div id="sidebar">

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% for item in menu_list %}
                {% if "absolute" in item %}
                    {% set url = item.absolute %}
                {% else %}
                    {% set url = "/"+item.name %}
                {% endif %}
                <li><a href="{{url}}">{{ item.title }}</a></li>
            {% endfor %}
            <li><a href="/rss" rel="alternate" type="application/rss+xml" target="_blank">RSS
                Feed</a></li>
        </ul>
    </nav>

    <div class="bio">
        <img class="avatar" src="{{ system_config.Author_Image }}" />
        <h3>{{ system_config.Author_Name }}</h3>
        <p>{{ system_config.Author_Introduction }}</p>
    </div>

</div>
